*, *::after, *::before{
    margin: 0;
    padding: 0;
    font-family: inherit;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    list-style: none;
}
@font-face {
    font-family: 'Nunito-Black';
    src: url(Nunito-Black.ttf);
}
@font-face {
    font-family: 'Nunito';
    src: url(Nunito-Regular.ttf);
}
:root{
    --pColor : #f01380;
    --dColor: #2d2d2d;
    --lColor : #f5f5f5;
    --gColor : #b9bac7;
    --bColor: #131313;
}
body{
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: var(--dColor);
    color:var(--lColor);
}
header{
    display: flex;
    align-items: center;
    margin-bottom: 0.8em;
    justify-content: space-between;
    padding-top: 1em;
    min-height: 20vh;
}
.header-title{
    padding-right: 2em;
}
.header-title h1{
    font-family: 'Nunito-Black', Arial, Helvetica, sans-serif;
}
header i{
    color: var(--pColor);
    font-size: 4rem;
}
main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 0.5em;
    position: absolute;
    top: 22vh;
}
form{
    display: flex;
    align-items: center;
    position: relative;

}
form i{
    font-size: 1.5rem;
    color: var(--gColor);
    
}
form .container-input{
    font-size: 1.3rem;
    background-color: var(--bColor);
    color: var(--lColor);
    border-radius: 4em;
    padding-left:1em;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
form .container-input input{
    background-color: var(--bColor);
    font-size: 0.8em;
    font-weight: 600;
    padding-left: 0.5em;
    width: 20em;
    color: var(--gColor);
}
form .addItemButton{
    background-color: var(--pColor);
    padding: .5em;
    border-radius: 50%;
    cursor: pointer;
}
main .container-type{
    /* padding-left: 2em; */
    gap: 0.7em;
    position: absolute;
    left: -1.3em;
    z-index: -1;
    display:flex ;
    animation: back 2s forwards;
}
main .add{
    animation: move 2s forwards;
    left: 30em;
}
main .container-type i {
    font-size: 1.3rem;
    width: 1.8em;
    height: 1.8em;
    border-radius: 50%;
    transition: 1s;
    cursor: pointer;
    display: flex; 
    justify-content: center;
    align-items: center;
    line-height: 1.8em;
    animation:turnBack 2s forwards;
}
main .container-type.add i{
    animation: turn 2s  forwards;
}
.briefcase{
    color: #b5b5d2;
    background-color: #070799 ;
}
.praying{
    color: #c0e0b9;
    background-color: #206115;
}
.utensils{
    color: #d3d393;
    background-color: #d85d0b;
}
.dumbbell{
    color: #d0c8d1;
    background-color: #af0bd8;
}
.container-todo{
    width: 100%;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.added-item{
    display: flex;
    align-items: center;
    gap:0.5em;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    transition: 0.2s;
}
.added-item li{
    width: 100%;
}
.added-item i{
    font-size: 1.2rem;
    cursor: pointer;
    border-radius:50% ;
    display: flex;
    align-items: center;
    justify-content: center;
}
.completed{
    opacity: 0.3;
    order: 2;
}
.completed li{
    text-decoration: line-through;
}
.editting li{
    transition: 1s;
    animation: blink 1s;
}
.editting i.fa-file-pen{
    color: var(--dColor);
    /* animation: turn 0.3s ; */
}
@keyframes blink{
    to{opacity: 0;}
    form{opacity: 1;}
}
@keyframes move {
    0% { left: 15em;
    z-index: -1; }
    70%{
        z-index: -1; 
    }
    100% {  left: 30em; 
    z-index: 1;}
}
@keyframes back {
    0% { left: 30em; 
        z-index: -1}
    10%{
        z-index: -1; 
    }
    50%{
        z-index: -1; 
    }
    100% {  left: 15em; 
    z-index: -1;}
}
@keyframes turn {
    to {transform: rotate(1turn);}
}
@keyframes turnBack {
    to {transform: rotate(-1turn);}
}
.container-login{
    display: flex;
    flex-direction: column;
    margin-top: 3em;
    border-radius: 50px;
    background: #2d2d2d;
    box-shadow:  -20px -20px 59px #1b1b1b,
    20px 20px 59px #3f3f3f;
    padding: 2.5em 3em;
}
.container-login input, button, .text-checkbox{
    border-radius: 10px;
    background: linear-gradient(315deg, #343435, #3e3e3f);
    box-shadow:  -5px -5px 100px #2d2d2d,
                5px 5px 100px #474749;
    color:var(--lColor);
    padding: 1em 2em;
    margin-bottom: 2em;
}
button{
    cursor: pointer;
}
.container-login .text-checkbox{
    padding: 0.5em 4em;
    font-size: 0.7rem;
}
.container-check-box, .container-button{
    display: flex;
    justify-content: space-between;
}